.section-hero {
  padding-top: 112px;
}

.hero-container {
  background-image: url(), url();
  background-repeat: no-repeat, no-repeat;
  background-position: top, right top 348px;
}

.hero-title-link-container {
    margin-bottom: 40px;
}

.hero-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  text-transform: uppercase;
  padding-top: 112px;
  margin-bottom: 40px;
}

.hero-span {
  color: var(--accent-cl);
}

.hero-icon {
  fill: var(--accent-cl);
  stroke-width: 2px;
  stroke: var(--accent-cl);
}

.hero-img {
  display: none;
}

.hero-link {
  position: relative;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 416px;
}

.hero-link::after {
  content: '';
  width: 165px;
  height: 92px;
  margin-left: -88px;
  background-color: var(--second-bcg);
  border-radius: 16px;
  transition: background-color var(--time) var(--cubic);
}

.hero-link:hover::after {
  background-color: var(--accent-cl);
}

.hero-link-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    text-transform: uppercase;
    z-index: 5;
  }

.hero-photo-text-container {
  margin-bottom: 72px;
}

.hero-text {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.6;
}

.hero-social-list {
  background-color: var(--third-bcg);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 32px 0px;
}

.hero-social-item {
    transition: color var(--time) var(--cubic);
}

.hero-social-item:hover,
.hero-social-item:focus {
  color: var(--accent-cl);
}
