.reviews {
  padding-top: 80px;
}

.reviews-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  text-align: center;
  margin-bottom: 40px;
}

.reviews-swiper-slide {
  box-sizing: border-box;
  padding: 32px;
  text-align: left;
  text-decoration: none;
  color: #292929;
  background-color: var(--third-bcg);
  border-radius: 16px;
}

.reviews-img {
  border-radius: 24px;
  width: 40px;
  height: 40px;
}

.reviews-desc {
  margin-bottom: 24px;
}

.reviews-text {
  max-width: 265px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--main-cl);
}

.reviews-swiper-wrapper {
  margin-bottom: 24px;
}

.reviews-swiper-btn-container {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.reviews-button-icon {
  stroke: #292929;
  fill: none;
}

.reviews-prev-btn,
.reviews-next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e4e5e6;
  border-radius: 8px;
  padding: 12px;
  width: 48px;
  height: 48px;
}
.reviews-prev-btn:hover,
.reviews-prev-btn:focus,
.reviews-next-btn:hover,
.reviews-next-btn:focus {
  border: 1px solid #fff;
}

.list_reviews {
  padding-top: 32px;
  padding-right: 32px;
  padding-left: 32px;
}

.reviews-info-author {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 16px;
}

.reviews-item-subtitle {
  align-content: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
}
.list_reviews {
  max-width: 320px;
  background-color: #e4e5e6;
  border-radius: 16px;
  padding: 20px;
}
.erorr {
  text-align: center;

  color: #292929;
}
.reviews-next-btn {
  background-color: var(--main-bcg);
  cursor: not-allowed;
  opacity: 0.6;
}
.reviews-prev-btn:disabled {
  background-color: var(--main-bcg);
  cursor: not-allowed;
  opacity: 0.6;
}
@media screen and (min-width: 768px) {
  .reviews {
    padding-top: 124px;
  }
  .reviews-title {
    font-weight: 400;
    font-size: 108px;
    line-height: 1.14;
    margin-bottom: 60px;
  }
}
