<div class="App">
  <input type="checkbox" id="switch" />
  <div class="app">
    <div class="body">
      <div class="content">
        <div class="circle">
          <div class="crescent"></div>
        </div>
        <p class="heading">Choose a theme</p>
        <p>Before I show you around, do you prefer light or dark mode?</p>
        <label for="switch">
          <div class="toggle"></div>
          <div class="names">
            <p class="light">Light</p>
            <p class="dark">Dark</p>
          </div>
        </label>
        <button class="start-btn">Start</button>
      </div>
    </div>
  </div>
</div>
