<div class="App">
  <input type="checkbox" id="switch" />
  <div class="app">
    <div class="body">
      <div class="content">
        <div class="circle">
          <div class="crescent"></div>
        </div>
        <p class="heading">Choose a theme</p>
        <p>Before I show you around, do you prefer light or dark mode?</p>
        <label class="label-theme" for="switch">
          <span class="toggle"></span>
          <span class="light">Light</span>
          <span class="dark">Dark</span>
        </label>
        <button class="start-btn">Start</button>
      </div>
    </div>
  </div>
</div>
