<section class="benefits bnf">
  <div class="container benefits-container">
    <h2 class="title-benefits">
      Benefits <span class="title-benefits-spam"> of working with me</span>
    </h2>
    <ul class="benefits-list">
      <li class="benefits-item">
        <div class="container-icon">
          <svg class="benefits-icon" width="24" height="24">
            <use href="/icons/icons.svg#icon-expertise"></use>
          </svg>
        </div>
        <h3 class="subtitle-benefits">Expertise</h3>
        <p class="benefits-text">
          With extensive experience in development, I have a deep understanding
          of programming and website development.
        </p>
      </li>
      <li class="benefits-item">
        <div class="container-icon">
          <svg class="benefits-icon" width="24" height="24">
            <use href="/icons/icons.svg#icon-communication"></use>
          </svg>
        </div>
        <h3 class="subtitle-benefits">Communication</h3>
        <p class="benefits-text">
          Understanding your needs and wants is my priority and I am always
          available for discussions and open to corrections.
        </p>
      </li>
      <li class="benefits-item">
        <div class="container-icon">
          <svg class="benefits-icon" width="24" height="24">
            <use href="/icons/icons.svg#icon-art"></use>
          </svg>
        </div>
        <h3 class="subtitle-benefits">Art</h3>
        <p class="benefits-text">
          Thanks to my creative nature, I am ready to accept challenges and help
          you bring your ideas to life.
        </p>
      </li>
      <li class="benefits-item">
        <div class="container-icon">
          <svg class="benefits-icon" width="24" height="24">
            <use href="/icons/icons.svg#icon-urgent"></use>
          </svg>
        </div>
        <h3 class="subtitle-benefits">Urgent execution</h3>
        <p class="benefits-text">
          I understand how important time is to you. Ready to work quickly and
          efficiently, without reducing the quality of work.
        </p>
      </li>
    </ul>
  </div>
</section>
