<!--collaboration-->
<section id="collaboration-container">
  <div class="container">
    <h2>LET'S WORK TOGETHER</h2>
    <p>CONTACT ME TO TRSNSFORM YOUR IDEAS INTO EXCEPTIONAL SOLUTIONS.</p>
    <address class="contacts-block">
      <ul class="contacts-list">
        <li class="contacts-item"><a class="contacts-link" href="tel:+380904567890">
          <svg class="phone-icon" width="24" height="24">
          <use href=""></use></svg>+38 090 456 78 90</a></li>
        <li class="mail-item"><a class="mail-link" href="mailto:lloydjefferson@gmail.com">
          <svg class="mail-icon" width="24" height="24">
          <use href=""></use></svg>lloydjefferson@gmail.com</a></li>
        <li class="location-item"><a class="location-link" href="https://maps.app.goo.gl/AJWrrshWbYXUnQ7L6">
            <svg class="location-icon" width="24" height="24">
            <use href=""></use></svg>USA, New York</a></li>
      </ul>
      <form class="input-info">
        <div class="email-confirm">
          <input class="form-input" name="user-email" type="email" placeholder="Your email*" id="try-agen" pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required/>
          <svg class="done-icon" width="16" height="16">
            <use href=""></use>
          </svg>
          <label class="invalid-email" for="try-agen">Invalid email, try again</label>
        </div>
        <textarea class="textela-input" id="user-Message" name="user-Message" placeholder="Message"></textarea>
        <button class="send-button" type="submit">SEND MESSAGE</button>
      </form>
  </address>
  </div>
</section>
