<!--collaboration-->
<section class="clb" id="collaboration">
  <div class="container">
    <h2 class="block-name">LET'S <span class="green-collorText">WORK TOGETHER</span></h2>
    <p class="block-text">CONTACT ME TO TRSNSFORM YOUR IDEAS INTO EXCEPTIONAL SOLUTIONS.</p>
    <address class="contacts-block">
      <ul class="contacts-list">
        <li class="contacts-item ">
          <a class="contacts-link itel-list" href="tel:+380904567890"><svg class="phone-icon" width="24" height="24">
            <use href="../icons/icons.svg#icon-phone"></use></svg>+38 090 456 78 90</a></li>
        <li class="mail-item">
          <a class="mail-link itel-list" href="mailto:lloydjefferson@gmail.com"><svg class="mail-icon" width="24" height="24">
            <use href="../icons/icons.svg#icon-mail"></use></svg>lloydjefferson@gmail.com</a></li>
        <li class="location-item ">
          <a class="location-link itel-list" href="https://maps.app.goo.gl/AJWrrshWbYXUnQ7L6"><svg class="location-icon" width="24" height="24">
            <use href="../icons/icons.svg#icon-location"></use></svg>USA, New York</a></li>
      </ul>
      <form class="input-info">
        <div class="email-confirm">
          <div class="input-form">
          <input class="form-input" name="user-email" type="email" placeholder="Your email*" id="try-agen" pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required/>
          <svg class="done-icon is-hidden" width="16" height="16">
            <use href="../icons/icons.svg#icon-check-mark"></use>
          </svg>
          </div>
          <label class="invalid-email is-hidden-text"  for="try-agen">Invalid email, try again</label>
          <textarea class="textela-input" id="user-Message" name="user-Message" placeholder="Message"></textarea>
        </div>
          <button class="send-button" class="jsBtnSubmit" type="submit">SEND MESSAGE</button>
      </form>
  </address>
  </div>
</section>
