<footer class="footer ftr">
  <div class="container">
    <div class="footer-div">
      <a href="index.html" class="logo"
        >LLOYD<span class="logo-two">JEFFERSON.</span></a
      >
      <ul class="footer-list">
        <li class="footer-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="footer-link"
            target="_blank"
            >Instagram</a
          >
        </li>
        <li class="footer-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="footer-link"
            target="_blank"
            >Facebook</a
          >
        </li>
        <li class="footer-item">
          <a
            href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            class="footer-link"
            target="_blank"
            >Linkedin</a
          >
        </li>
        <li class="footer-item">
          <a
            href="https://github.com/BulatovaTati/landing-page-2.0"
            class="footer-link"
            target="_blank"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <p class="footer-txt">© Copyright 2024. Made by LloydJefferson</p>
  </div>
</footer>
