<section class="section-hero hr">
  <div class="container hero-container">
    <div class="hero-title-link-container">
      <div class="terminal-main-text">
        <h1 class="hero-title">Hello, I am</h1>
        <p class="gsap-animation">
          <span class="hi"></span>
          <span class="text"></span>
        </p>
      </div>
      <a class="hero-link" href="#collaboration">
        <svg class="hero-icon" width="30" height="16">
          <use href="/icons/icons.svg#icon-arrow-hero"></use>
        </svg>
        <p class="hero-link-text">Order the project</p></a
      >
    </div>
    <div class="hero-photo-text-container">
      <picture>
        <source
          srcset="
            /images/hero/img-hero-1x.jpg 1x,
            /images/hero/img-hero-1x.jpg 2x
          "
          media="(min-width: 1280px)"
          type="image/jpg"
        />
        <img
          loading="lazy"
          src="/images/hero/img-hero-1x.jpg"
          alt="photo-of-a-man-with-beard"
          width="592"
          height="444"
          class="hero-img"
        />
      </picture>
      <p class="hero-text">
        I work with people all over the world to create
        <span class="hero-span">impressive</span> and
        <span class="hero-span">functional websites</span> that reflect each
        client’s unique personality.
      </p>
    </div>
  </div>
  <ul class="hero-social-list">
    <li class="hero-social-item">
      <a href="https://www.instagram.com/goitclub/" target="_blank"
        >Instagram</a
      >
    </li>
    <li class="hero-social-item">
      <a href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a>
    </li>
    <li class="hero-social-item">
      <a
        href="https://www.linkedin.com/school/goit-start-your-career-in-it"
        target="_blank"
        >Linkedin</a
      >
    </li>
    <li class="hero-social-item">
      <a href="https://github.com/BulatovaTati/landing-page-2.0" target="_blank"
        >GitHub</a
      >
    </li>
  </ul>
</section>
