<section class="section-projects prj" id="projects">
  <div class="container">
    <h2 class="projects-title">
      my <span class="projects-title_next">projects</span>
    </h2>

    <ul class="projects-list_img">
      <li>
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/projects/projects-mob-00-min.png    1x,
              ./images/projects/projects-mob-00@2x-min.png 2x
            "
          />
          <source
            media="(max-width: 1279px)"
            srcset="
              ./images/projects/projects-tabl-00-min.png    1x,
              ./images/projects/projects-tabl-00@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/projects/projects-desk-00-min.png    1x,
              ./images/projects/projects-desk-00@2x-min.png 2x
            "
          />
          <img
            class="projects-img"
            src="./images/projects/projects-desk-00-min.png"
            alt="Wallet webservice"
          />
        </picture>
        <div class="projects-blok_descr">
          <p class="projects-img_descr">React, JavaScript, Node JS, Git</p>
          <div class="projects-box_descr">
            <h3 class="projects-img_title">Wallet webservice</h3>
            <a
              href="https://bulatovatati.github.io/landing-page-2.0/"
              class="projects-button_link"
              target="_blank"
            >
              <span class="projects-button_text">VISIT</span>
              <svg class="projects-button_icon" width="24" height="24">
                <use href="./icons/icons.svg#icon-arrow-projects"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li>
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/projects/projects-mob-01-min.png    1x,
              ./images/projects/projects-mob-01@2x-min.png 2x
            "
          />
          <source
            media="(max-width: 1279px)"
            srcset="
              ./images/projects/projects-tabl-01-min.png    1x,
              ./images/projects/projects-tabl-01@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/projects/projects-desk-01-min.png    1x,
              ./images/projects/projects-desk-01@2x-min.png 2x
            "
          />
          <img
            class="projects-img"
            src="./images/projects/projects-desk-01-min.png"
            alt="Green harvest webservice"
          />
        </picture>
        <div class="projects-blok_descr">
          <p class="projects-img_descr">React, JavaScript, Node JS, Git</p>
          <div class="projects-box_descr">
            <h3 class="projects-img_title">Green harvest webservice</h3>
            <a
              href="https://bulatovatati.github.io/landing-page-2.0/"
              class="projects-button_link"
              target="_blank"
            >
              <span class="projects-button_text">VISIT</span>
              <svg class="projects-button_icon" width="24" height="24">
                <use href="./icons/icons.svg#icon-arrow-projects"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li>
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/projects/projects-mob-02-min.png    1x,
              ./images/projects/projects-mob-02@2x-min.png 2x
            "
          />
          <source
            media="(max-width: 1279px)"
            srcset="
              ./images/projects/projects-tabl-02-min.png    1x,
              ./images/projects/projects-tabl-02@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/projects/projects-desk-02-min.png    1x,
              ./images/projects/projects-desk-02@2x-min.png 2x
            "
          />
          <img
            class="projects-img"
            src="./images/projects/projects-desk-02-min.png"
            alt="English Exellence website"
          />
        </picture>
        <div class="projects-blok_descr">
          <p class="projects-img_descr">React, JavaScript, Node JS, Git</p>
          <div class="projects-box_descr">
            <h3 class="projects-img_title">English Exellence website</h3>
            <a
              href="https://bulatovatati.github.io/landing-page-2.0/"
              class="projects-button_link"
              target="_blank"
            >
              <span class="projects-button_text">VISIT</span>
              <svg class="projects-button_icon" width="24" height="24">
                <use href="./icons/icons.svg#icon-arrow-projects"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
    </ul>

    <div class="box-loader"><span class="loader"></span></div>

    <button type="button" class="projects-button_loading">LOAD MORE</button>
  </div>
</section>
