<div class="section-tech-skills visually-hidden">
  <h2 class="section-title">Technical Skills</h2>
</div>
<section class="tech-skills tch">
  <div class="banner banner--green">
    <div class="banner__wrapper right">
      <div class="banner__item" id="banner__item">
        <span class="banner-point"></span>
        <span class="banner__text">HTML/CSS</span>
        <span class="banner-point"></span>
        <span class="banner__text">JAVASCRIPT</span>
        <span class="banner-point"></span>
        <span class="banner__text">REACT</span>
        <span class="banner-point"></span>
        <span class="banner__text">NODE.JS</span>
        <span class="banner-point"></span>
        <span class="banner__text">REACT NATIVE</span>
        <span class="banner-point"></span>
        <span class="banner__text">TYPESCRIPT</span>
        <span class="banner-point"></span>
        <span class="banner__text">HTML/CSS</span>
        <span class="banner-point"></span>
        <span class="banner__text">JAVASCRIPT</span>
        <span class="banner-point"></span>
        <span class="banner__text">REACT</span>
        <span class="banner-point"></span>
        <span class="banner__text">NODE.JS</span>
        <span class="banner-point"></span>
        <span class="banner__text">REACT NATIVE</span>
        <span class="banner-point"></span>
        <span class="banner__text">TYPESCRIPT</span>
      </div>
      <!-- <div class="banner__item" id="banner__item">
        <span class="banner-point"></span>
        <span class="banner__text">HTML/CSS</span>
        <span class="banner-point"></span>
        <span class="banner__text">JAVASCRIPT</span>
        <span class="banner-point"></span>
        <span class="banner__text">REACT</span>
        <span class="banner-point"></span>
        <span class="banner__text">NODE.JS</span>
        <span class="banner-point"></span>
        <span class="banner__text">REACT NATIVE</span>
        <span class="banner-point"></span>
        <span class="banner__text">TYPESCRIPT</span>
        <span class="banner-point"></span>
        <span class="banner__text">HTML/CSS</span>
        <span class="banner-point"></span>
        <span class="banner__text">JAVASCRIPT</span>
        <span class="banner-point"></span>
        <span class="banner__text">REACT</span>
        <span class="banner-point"></span>
        <span class="banner__text">NODE.JS</span>
        <span class="banner-point"></span>
        <span class="banner__text">REACT NATIVE</span>
        <span class="banner-point"></span>
        <span class="banner__text">TYPESCRIPT</span>
      </div> -->
    </div>
  </div>
  <div class="banner banner--white">
    <div class="banner__wrapper left">
      <div class="banner__item" id="banner__item_bottom">
        <span class="banner-point"></span>
        <span class="banner__text">HTML/CSS</span>
        <span class="banner-point"></span>
        <span class="banner__text">JAVASCRIPT</span>
        <span class="banner-point"></span>
        <span class="banner__text">REACT</span>
        <span class="banner-point"></span>
        <span class="banner__text">NODE.JS</span>
        <span class="banner-point"></span>
        <span class="banner__text">REACT NATIVE</span>
        <span class="banner-point"></span>
        <span class="banner__text">TYPESCRIPT</span>
        <span class="banner-point"></span>
        <span class="banner__text">HTML/CSS</span>
        <span class="banner-point"></span>
        <span class="banner__text">JAVASCRIPT</span>
        <span class="banner-point"></span>
        <span class="banner__text">REACT</span>
        <span class="banner-point"></span>
        <span class="banner__text">NODE.JS</span>
        <span class="banner-point"></span>
        <span class="banner__text">REACT NATIVE</span>
        <span class="banner-point"></span>
        <span class="banner__text">TYPESCRIPT</span>
      </div>
      <!-- <div class="banner__item" id="banner__item">
        <span class="banner-point"></span>
        <span class="banner__text">HTML/CSS</span>
        <span class="banner-point"></span>
        <span class="banner__text">JAVASCRIPT</span>
        <span class="banner-point"></span>
        <span class="banner__text">REACT</span>
        <span class="banner-point"></span>
        <span class="banner__text">NODE.JS</span>
        <span class="banner-point"></span>
        <span class="banner__text">REACT NATIVE</span>
        <span class="banner-point"></span>
        <span class="banner__text">TYPESCRIPT</span>
        <span class="banner-point"></span>
        <span class="banner__text">HTML/CSS</span>
        <span class="banner-point"></span>
        <span class="banner__text">JAVASCRIPT</span>
        <span class="banner-point"></span>
        <span class="banner__text">REACT</span>
        <span class="banner-point"></span>
        <span class="banner__text">NODE.JS</span>
        <span class="banner-point"></span>
        <span class="banner__text">REACT NATIVE</span>
        <span class="banner-point"></span>
        <span class="banner__text">TYPESCRIPT</span>
      </div> -->
    </div>
  </div>
</section>
